{{/* Variables */}}
{{- $headless := false -}}
{{- $shell := "bash" -}}

{{/* Shell detection */}}
{{- if lookPath "fish" -}}
{{-   $shell = "fish" -}}
{{- end -}}

{{/* Synology is headless */}}
{{- if stat "/etc/VERSION" -}}
{{-   $headless = true -}}
{{- end -}}

[data]
  editor = "vim"
  headless = {{$headless}}
  shell = {{$shell | quote}}

[data.tmux]
  accentcolor = "brightblack"
  textonaccentcolor = "white"
