[user]
  name = Rafał Hirsz
  email = rafal@hirsz.co
[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[init]
  defaultBranch = master
[pull]
  rebase = true
[push]
  autoSetupRemote = true
