# Enable italics
set -g default-terminal "tmux-256color"

# 1-based indices are easier to type
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

# Show messages for longer
set -g display-time 3000

# Make it quiet
set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
setw -g monitor-activity off
set -g bell-action none

# Change the style to match the prompt
set -g message-style 'bg={{.tmux.accentcolor}} fg={{.tmux.textonaccentcolor}}'

setw -g mode-style 'bg={{.tmux.accentcolor}} fg={{.tmux.textonaccentcolor}}'

set -g pane-border-style 'bg=black fg={{.tmux.accentcolor}}'
set -g pane-active-border-style 'bg=black fg=white'

set -g status-justify left
set -g status-style 'fg=brightblack'
set -g status-left 'tmux  '
set -g status-left-length 6
set -g status-right "#{?window_zoomed_flag,#[default fg=yellow]zoomed #[none] ,}"
set -ag status-right '#[default]%Y-%m-%d %H:%M'
set -g status-right-length 40

setw -g window-status-style 'fg=brightblack'
setw -g window-status-format ' #[dim]#I·#[nodim]#W '

setw -g window-status-current-style 'bg={{.tmux.accentcolor}} fg={{.tmux.textonaccentcolor}}'
setw -g window-status-current-format '#[bg=black fg={{.tmux.accentcolor}}]#[default dim] #I·#[nodim]#W #[bg=black fg={{.tmux.accentcolor}}]'
