# Add ~/bin to PATH
PATH="$HOME/bin:$PATH"

# Starship prompt
eval "$(starship init bash)"

# Environment variables
export EDITOR={{ .editor | quote }}

# Setup Broot (https://dystroy.org/broot/)
if [ -f "$HOME/.config/broot/launcher/bash/br" ]; then
  source "$HOME/.config/broot/launcher/bash/br"
fi

# Aliases
alias ta="tmux attach-session -t hey || tmux new-session -s hey"
