[user]
  name = Rafał Hirsch
  email = rafal@hirsch.net
[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[init]
  defaultBranch = master
[pull]
  rebase = true
[push]
  autoSetupRemote = true
