{{- if (eq .chezmoi.os "darwin") -}}
{{ .chezmoi.homeDir }}/Library/Application Support/org.dystroy.broot/launcher/fish/br.fish
{{ end -}}
{{- if (eq .chezmoi.os "linux") -}}
{{ .chezmoi.homeDir }}/.local/share/broot/launcher/fish/br.fish
{{ end -}}
