# Starship prompt
starship init fish | source

# Environment variables
set -gx EDITOR {{ .editor | quote }}

# Aliases
alias g="bf go"
alias ta="tmux attach-session -t hey || tmux new-session -s hey"

# Setup external tools
if command -q fzf
  fzf --fish | source
end
if command -q zoxide
  zoxide init fish | source
end
if command -q jj
  COMPLETE=fish jj | source
end
