# Starship prompt
starship init fish | source

# Environment variables
set -gx EDITOR {{ .editor | quote }}

# Aliases
alias g="bf go"
alias ta="tmux attach-session -t hey || tmux new-session -s hey"

# Setup external tools
if command -q fzf
  fzf --fish | source
end
if command -q zoxide
  zoxide init fish | source
end
if command -q jj
  COMPLETE=fish jj | source
end

{{- if eq .chezmoi.os "darwin" }}
# Add SSH key to the keychain to avoid entering the passphrase
# -q = quiet
ssh-add --apple-use-keychain -q ~/.ssh/id_ed25519 > /dev/null
{{- end }}
